.header {
  height: 70px;
  background-color: #007c64;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9999;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.logo-section img{
  width: 70px;
}

.logo-text {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 1001;
}

/* --- MENU MOBILE --- */
.nav-links {
  display: none; 
  flex-direction: column;
  position: absolute;
  top: 70px; 
  left: 0;
  width: 100%;
  background-color: #007c64;
  padding: 20px 24px;
  box-sizing: border-box;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  gap: 16px;
  z-index: 9999; /
}

.nav-links.aberto {
  display: flex;
  animation: deslizar 0.3s ease-out forwards;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.login-btn {
  margin-top: 8px;
  border: 1px solid #ffffff;
  padding: 12px !important;
  border-radius: 8px;
  text-align: center;
}

@keyframes deslizar {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- MENU DESKTOP --- */
@media (min-width: 768px) {
  .menu-toggle {
    display: none; 
  }

  .nav-links {
    display: flex; 
    position: static; 
    flex-direction: row; 
    background-color: transparent;
    width: auto;
    padding: 0;
    box-shadow: none;
    align-items: center;
    gap: 32px;
    z-index: auto; 
  }

  .nav-links.aberto {
    animation: none;
  }

  .nav-links a {
    font-size: 16px;
    padding: 0;
    border-bottom: none;
    transition: opacity 0.2s;
  }

  .nav-links a:hover {
    opacity: 0.8;
  }

  .login-btn {
    margin-top: 0;
    padding: 8px 20px !important;
    border-radius: 24px;
    transition: all 0.2s;
  }

  .login-btn:hover {
    background-color: #ffffff;
    color: #007c64 !important;
  }
}
